[mysqld]
datadir=/var/lib/mysql
log-error={{ mariadb_error_log }}

port={{ mysql_port }}
socket={{ socket_path }}
bind-address={{ mariadb_bind_address }}

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd
character-set-server=utf8

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
